<div class="todoBody h-100">
  <app-todo></app-todo>
  <br>
  <i class="fa fa-header" aria-hidden="true" style="font-weight: bold"><i
      class="pi pi-user"></i>{{firstName | titlecase}}
    {{lastName | titlecase}}'s DashBoard</i>
  <!-- todo list -->
  <div style="margin-top: 2%">
    <p-accordion>
      <p-accordionTab header="Todo List" [selected]="true">
        <div class="container-fluid todolist">
          <div *ngFor="let todo of todos | paginate: { itemsPerPage: 5, currentPage: p, id:'third' }, let i=index">
            <div class="row" *ngIf="!todo.status">
              <button type="button" class="btn btn-primary btn-block
            d-flex todobutton" style="margin-top: 2%;background-color: rgba(168, 198, 216, 0.6)" pButton
                (dblclick)="setSelectedItem(todo, i)">
                <input type="checkbox" id="checkbox" (click)="toggleTodoComplete(todo,i)" [checked]="todo.status" />
                {{todo.title}}
              </button>
              <button type="button" class="close deleteTodo" pTooltip="Delete Todo" tooltipPosition="left"
                aria-label="Close" (click)="deleteTodo(todo.todoId, todo.title)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div style="margin-left: -5%">
          <pagination-controls id="third" (pageChange)="p = $event"></pagination-controls>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Completed Todo List">
        <div class="todolist">
          <div *ngFor="let todo of todos | paginate: { itemsPerPage: 5, currentPage: q, id:'fourth' }, let i=index">
            <div class="row" *ngIf="todo.status">

              <button type="button" class="btn btn-primary btn-block
              d-flex todobutton"
                style="margin-top: 2%;background-color: rgba(173, 208, 211, 0.4); width:90%; margin-left: 2%" pButton
                (dblclick)="setSelectedItem(todo, i)">
                <input type="checkbox" id="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.status" />
                {{todo.title}}
              </button>
              <button type="button" class="close deleteTodo" pTooltip="Delete Todo" tooltipPosition="left"
                aria-label="Close" (click)="deleteTodo(todo.todoId, todo.title)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div style="margin-left: -5%">
          <pagination-controls id="fourth" (pageChange)="q = $event"></pagination-controls>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>



  <!-- end todolist -->

  <!-- todo details -->
  <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" styleClass="ui-sidebar-md">
    <div>
      <b>Item Title:</b> <input type="text" class="form-control" [(ngModel)]="selectedItemTitle" name="itemTitle"
        placeholder="Item Title" (keydown.control.z)="undo()">
      <br>
      <b>Status:</b><select class="custom-select" [(ngModel)]="selectedItemStatus"
        (click)="toggleTodoComplete1(selectedItemStatus)">
        <option value="true">true</option>
        <option value="false">false</option>
      </select>
      <br><br>
      <b>Sub Task:</b>
      <div class="input-group form-group createInput">
        <input type="text" class="form-control" [(ngModel)]="subTaskTitle" name="subTaskTitle"
          placeholder="To Add a subtask Press Enter" (keyup.enter)="addSubTasks()" (keydown.control.z)="undo()">
        <span class="pi pi-plus"></span>
        <br>
      </div>
      <div *ngFor="let subtask of subTasks, let i=index" [ngClass]="subtask.subStatus ? 'strikethrough' : 'null'">
        <div>
          <input type="checkbox" [(ngModel)]="subtask.subStatus" id="cbox1" (click)="checkBoxClicked(i)">
          <label for="cbox3" style="font-size: 1.5em">{{subtask.subTitle}}</label>
          <i class="deleteSubTask" (click)="deleteSubTask(i)">&times;</i>
        </div>
      </div>
    </div>
    <button (click)="submitChange()" class="btn btn-success deleteSubTask" style="margin-top: 5%">
      Submit
    </button>
    <button (click)="undo()" class="btn btn-info deleteSubTask" style="margin-top: 5%; margin-right: 72%">
      Undo
    </button>


  </p-sidebar>
  <!-- end of todo details -->
</div>
